.features {
  padding-top: 120px;
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    border-bottom: 2px solid #eeeeee;
    list-style: none;
  }
  
  &__item {
    display: inline-block;
    max-width: 360px;
    padding-left: 100px;
    margin-bottom: 54px;
    position: relative;
  
    &:before {
      @include font-FontAwesome;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding-top: 25px;
      text-align: center;
      width: 75px;
      height: 75px;
      border: 1px solid #f0f0f0;
      border-radius: 50%;
      font-size: 24px;
      color: #f31f79;
    }
  
    &_sell {
      &:before {
        content: '\f02c';
      }
    }
  
    &_gear {
      &:before {
        content: '\f013';
      }
    }
  
    &_brush {
      &:before {
        content: '\f1fc';
      }
    }
  
    &_extinguisher {
      &:before {
        content: '\f134';
      }
    }
  
    &_file {
      &:before {
        content: '\f15c';
      }
    }
  
    &_support {
      &:before {
        content: '\f1cd';
      }
    }
  }
  
  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
  }
  
  &__text {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1120px) {
  .features {
    &__list {
      justify-content: center;
    }
  }
}