.footer {
  padding-top: 55px;
  background: #222222;
  &__icons {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__icon {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  &__copyright {
    text-align: center;
  }
  
  &__link {
    position: relative;
    font-size: 0;
    text-decoration: none;
    &:before {
      @include font-FontAwesome;
      font-size: 18px;
      color: #fff;
      width: 25px;
      height: 25px;
    }
  
    &_facebook {
      &:before {
        content: '\f09a';
      }
    }
  
    &_twitter {
      &:before {
        content: '\f099';
      }
    }
  
    &_dribbble {
      &:before {
        content: '\f17d';
        color: #d71f6d;
      }
    }
  
    &_behance {
      &:before {
        content: '\f1b4';
      }
    }
  }
  
  &__copyright {
    @include font-Roboto;
    font-size: 14px;
    color: #fff;
  }
}