.promo {
  width: 100%;
  padding-top: 145px;
  padding-bottom: 150px;
  background: url('../img/phone.png') no-repeat -5px -20px;
  
  &:after {
    content: '';
    clear: both;
    display: block;
  }

  &__info { 
    padding-right: 40px;
    max-width: 555px;
    float: right;
  }
  
  &__subtitle {
    margin-bottom: 70px;
  }
  
  &__text {
    margin-bottom: 0;
  }
  
  &__list {
    margin-top: 25px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 1520px) {
  .promo {
    background-position: -280px -20px;
  }
}

@media screen and (max-width: 1060px) {
  .promo {
    background-position: -310px -20px;
  }
}

@media screen and (max-width: 995px) {
  .promo {
    background: none;
    text-align: center;

    &__info {
      float: none;
      margin: 0 auto;
    }

    &__list {
      margin-left: 50px;
      text-align: left;
    }
  } 
}