.reviews {
  padding-top: 80px;
  padding-bottom: 75px;

  
  &__slider {
    margin: 0 auto;
    max-width: 1170px;
    height: 400px;
    overflow: hidden;
  }

  &__wrap {
    position: relative;
  }

  &__title {
    text-align: center;
  }
  
  &__subtitle {
    margin: 0 auto;
    max-width: 660px;
    text-align: center;
  }
  
  &__list {
    width: 1575px;
    position: relative;
    left: 0;
    padding: 0;
    padding-top: 60px;
    padding-left: 15px;
    transition-duration: 1s;

    &:after {
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }
  }
  
  &__item {
    margin: 0;
    margin-right: 30px;
    float: left;
    padding: 0;
    list-style: none;
  }
  
  &__button {
    top: 48%;
  }
}
  
.review {
  width: 360px;
  background: #f7fafc;
  padding: 25px 50px 30px 35px;

 
  &_active {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }
  
  &__text {
    margin-bottom: 22px;
  }
}
  
.user {
  display: inline-block;
  &__photo {
    border-radius: 50%;
  }
  
  &__info {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-left: 18px;
  }
  
  &__name {
    display: inline-block;
    margin: 0;
    @include font-Dosis;
    color: #222222;
    font-weight: 500;
    font-size: 18px;
  }
  
  &__device {
    display: block;
    color: #777777;
    margin: 0;
  }
}

@media screen and (max-width: 1260px) {
  .reviews {
    &__slider {
      max-width: 780px;
    }
  }
}

@media screen and (max-width: 840px) {
  .reviews {
    &__slider {
      max-width: 550px;
      overflow: scroll;
    }

    &__list {
      max-width: 550px;
      margin: 10px auto;
      padding-top: 0;
      flex-direction: column;
    }

    &__item {
      margin: 0 auto 20px;
      width: 100%;
    }

    &__button {
      display: none;
    }
  }

  .review_active {
    box-shadow: none;
  }
}

@media screen and (max-width: 560px) {
  .reviews {
    &__list {
      left: 0;
      max-width: 350px;
    }


    &__slider {
      max-height: 280px;
    }
  }

}