.screenshots {
  background: #f7fafc;
  padding-top: 100px;
  &__title {
    text-align: center;
  }
  
  &__subtitle {
    margin: 0 auto;
    max-width: 660px;
    text-align: center;
  }
}
  
.carousel {
  padding: 0;
  list-style: none;
  position: relative;
  
  &__slider {
    position: relative;
    top: 78px;
    min-height: 700px;
    margin: 0 auto;
    padding: 0;
    list-style: none;  
  }
  
  
  &__slide {
    max-width: 360px;
    max-height: 500px;
    position: absolute;
    left: 50%;
    transition-duration: 0.9s;
    transform: translateX(-50%);
    overflow: hidden;
    max-width: 360px;
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.1);
  
    &_center {
      z-index: 10;
    }
  
    &_next-near {
      transform: translateX(10%) scale(0.9);
      z-index: 8;
    }
  
    &_next-middle {
      transform: translateX(56%) scale(0.7);
      z-index: 6;
    }
  
    &_next-far {
      transform: translateX(80%) scale(0.58);
      z-index: 4;
    }
  
    &_prev-near {
      transform: translateX(-108%) scale(0.9);
      z-index: 8;
    }
  
    &_prev-middle {
      transform: translateX(-155%) scale(0.7);
      z-index: 6;
    }
  
    &_prev-far {
      transform: translateX(-180%) scale(0.58);
      z-index: 4;
    }
  }
  
  &__img {
    width: 100%;
    height: auto;   
  }
  
  &__button {
    top: 46%;
    transform: translateY(-50%);
  }
}
  
.slide-button {
  width: 40px;
  height: 40px;
  background: linear-gradient( 90deg, rgb(253,113,44) 0%, rgb(242,23,128) 100%);
  position: absolute;
  font-size: 0;
  border-radius: 50%;
  border: 3px solid #dadddf;
  color: #fff;
  z-index: 50;
  
  &:disabled {
    border: 1px solid #efefef;
    background: #fff;
    color: #777777;
  }
  
  &:after {
    @include font-FontAwesome;
    font-size: 14px;
  }
  
  &_prev {
    left: 20px;
    &:after {
      content: '\f177';
    }
  }
  
  &_next {
    right: 20px;
    &:after {
      content: '\f178';
    }
  }
}

@media screen and (max-width: 1320px) {
    .carousel {
      &__slider {
        max-width: 600px;
      }

      &__slide {
        height: 450px;
      }

      &__button {
        top: 44%;
      }
    }
}

@media screen and (max-width: 1080px) {
  .carousel {
    &__slider {
      max-width: 500px;
    }

    &__slide {
      height: 400px;
      &_next-far {
        transform: translateX(10%) scale(0);
        z-index: 1;
      }

      &_prev-far {
        transform: translateX(10%) scale(0);
        z-index: 1;
      }
    }

    &__button {
      top: 40%;
    }
  }
}

@media screen and (max-width: 890px) {
  .carousel {
    &__slide {
      &_next-middle {
        transform: translateX(10%) scale(0);
        z-index: 1;
      }

      &_prev-middle {
        transform: translateX(10%) scale(0);
        z-index: 1;
      }
    }


  }
}

@media screen and (max-width: 620px) {
  .carousel {
    max-height: 440px;
    &__slider {
      max-width: 460px;
      
    }

    &__slide {
      height: 280px;
      &_next-near {
        transform: translateX(-20%) scale(0.8);
        z-index: 1;
      }

      &_prev-near {
        transform: translateX(-80%) scale(0.8);
        z-index: 1;
      }
    }

    &__button {
      top: 50%;
    }
  }
}

